<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shareify-Share the Passion</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Font Awesome Icons -->
  </head>

  <body>
    <img class="logo" src="/images/logo.png" alt="Shareify-Share" />
    <div class="password-div center">
      <h1>Enter The Password</h1>
      <img
        class="password-img"
        src="/images/password-img.png"
        alt="password-img"
      />
      <% if(locals.error) {%>
      <div class="inputbox wrong" id="wrong">Oops!! Incorrect Password.</div>
      <% } %>
      <form method = "post">
        <div class="inputbox">
          <span id="id" style="display: none;"><%= locals.id%></span>
          <input type="password" id="password" name="password" required />
          <span>Password</span>
        </div>
        <div class="inputbox">
          <button class="btn" type="submit">Download</button>
        </div>
      </form>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.6.3.js"
      integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
      crossorigin="anonymous"
    ></script>
    <script src="/js/index.js"></script>
  </body>
</html>
